/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  /* Fonts */
  --sans-serif: "Urbanist", sans-serif;

  /* Colors */
  --primary: #035296;
  --secondary: #f16225;
  --tertiary: #fff0e1;
  --dark: #0e191e;
  --dark-alt: #606364;
  --light: #ffffff;
  --light-alt: #f5f5f5;
}

/* Default */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--secondary) transparent;
  scrollbar-width: thin;
}
*::selection {
  background: var(--secondary);
  color: var(--light);
}
::-webkit-scrollbar {
  width: 5px;
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--light);
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 100%;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 18px;
  font-weight: 500;
  color: var(--dark-alt);
  line-height: 160%;
  letter-spacing: 0.5px;
}
p a {
  color: var(--primary);
  transition: 0.5s ease all;
}
p a:hover {
  color: var(--primary);
}
p b {
  font-weight: 600;
}

/* Background */
.bg-primary {
  background: var(--primary) !important;
}
.bg-secondary {
  background: var(--secondary) !important;
}
.bg-light {
  background: var(--light) !important;
}
.bg-light-alt {
  background: var(--light-alt) !important;
}
.bg-dark {
  background: var(--dark) !important;
}
.bg-dark-alt {
  background: var(--dark-alt) !important;
}
.bg-gray {
  background: var(--gray) !important;
}

/* Color */
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-light {
  color: var(--light) !important;
}
.text-light-alt {
  color: var(--light-alt) !important;
}
.text-dark {
  color: var(--dark) !important;
}
.text-dark-alt {
  color: var(--dark-alt) !important;
}
.text-gray {
  color: var(--gray) !important;
}

/* Section */
.section {
  padding: 100px 0;
  min-height: 300px;
}

/* Button */
.button {
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding: 15px 30px;
  background: var(--primary);
  color: var(--light);
  border-radius: 50px;
  overflow: hidden;
  transition: 0.5s ease all;
  position: relative;
  border: 0;
  outline: 0;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background: var(--secondary);
  border-radius: 50px;
  transition: 0.5s ease all;
}
.button span {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  margin-right: 15px;
  position: relative;
  z-index: 1;
  transition: 0.5s ease all;
}
.button i {
  font-size: 16px;
  position: relative;
  z-index: 1;
  transition: 0.5s ease all;
}
.button:hover::after {
  width: 50px;
  left: auto;
  right: 0;
}
.button:hover i {
  transform: translateX(15px);
}

/* Heading */
.sub-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  line-height: 100%;
}
.sub-heading img {
  width: 20px;
}
.sub-heading span {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark);
  line-height: 100%;
}
.heading {
  font-size: 50px;
  font-weight: 800;
  color: var(--dark);
  line-height: 120%;
}

/* List */
.list li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
.list li:last-child {
  margin-bottom: 0;
}
.list li img {
  width: 20px;
  margin-top: 2px;
}
.list li span {
  font-size: 18px;
  font-weight: 800;
  color: var(--dark);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}
